{% extends "layout.html" %}

{% block content %}
<div class="centered-container">
    <h1>Złap za gitarę i zagraj z nami nut parę!</h1>
    <p>
        Spragniony dobrej muzyki? Szukasz nowych zespołów ze świężym brzmieniem? Dobrze trafiłeś! 
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed mauris ultrices, maximus arcu rutrum, hendrerit sapien. 
    </p>
    <img src="/static/img/band.png" alt="zdjęcie zespołu" class="band-img" />
    <p>
        Phasellus neque velit, finibus quis ante ut, interdum maximus neque. Fusce eget pellentesque justo. Sed et lorem at mauris tempus eleifend. Sed posuere vestibulum augue id feugiat. Donec efficitur eros sit amet tellus fermentum, eu pulvinar magna accumsan. 
    </p>
    <p>
        Pellentesque ex massa, dignissim vitae dolor et, commodo auctor neque. Proin luctus vitae nulla sagittis aliquam. Nam enim velit, varius eu congue at, consectetur non orci. Praesent id felis auctor, luctus leo vel, mattis ipsum. Curabitur tempus ex ac erat elementum ultricies. Quisque porttitor vitae augue in feugiat. Aenean eu nisl at dolor feugiat sagittis.
    </p>
    <p>
        Baw się dobrze!
    </p>
</div>
{% endblock %}
