{% extends "layout.html" %}

{% block head_elements %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/about.css') }}">
{% endblock %}

{% block content %}
<img src="/static/img/band.png" alt="zdjęcie zespołu" class="band-img" />

<h2>Co my za jedni?</h2>
<p>
    Jeśli zadajesz sobie pytanie "Co to za jedni?" to trafiłeś na dobrą stronę. 
    Prawdę mówiąc, sami sobie czasem zadajemy dokładnie to pytanie.
    Odpowiedź jest jednak prosta. Jesteśmy grupą znajomych, która w wolnym czasie tworzy muzykę.
</p>

<h2>Trochę historii</h2>
<p>
    Początki wszystkich zespołów bywają trudne, jak może niektórzy z Was wiedzą. Poznaliśmy się...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus hendrerit urna. Aenean ut molestie purus. In sollicitudin fermentum purus, luctus blandit nisi dapibus finibus. Donec suscipit, enim a blandit molestie, ipsum quam fermentum augue, non mollis libero leo vel turpis. Curabitur congue sodales felis, et porttitor est hendrerit nec. Mauris eu finibus velit. Donec vel lorem et dolor mattis dignissim pretium non lacus. Aenean porta ante vitae massa consequat faucibus. Suspendisse potenti. Cras sed feugiat sapien. Aliquam sit amet augue justo. Cras nisl nibh, volutpat eu turpis vel, mollis cursus est. Duis condimentum mauris nec mauris condimentum, sed molestie felis tincidunt. Nulla molestie neque at neque placerat, nec hendrerit nunc euismod.
</p>
<p>
    Vestibulum vulputate ex et odio sagittis tempus ut vitae orci. Quisque consequat lobortis congue. Nunc vitae mollis libero. Cras vitae tempus libero. Cras eu nulla finibus, feugiat ligula non, placerat augue. Cras vehicula dictum nulla, ac tristique nisi vulputate ac. Pellentesque iaculis odio ut arcu ullamcorper bibendum. Nulla luctus mi vel nulla efficitur cursus. Aliquam nunc mi, tincidunt nec ligula non, molestie tristique orci. Etiam lacinia turpis magna, sed sagittis quam pretium ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam erat volutpat. Vestibulum vel velit nibh. Praesent tincidunt nisl sit amet augue aliquet, eget ornare enim pretium. Nulla ornare purus eros, nec venenatis est tristique malesuada. Donec eu rutrum ipsum.
</p>
<p>
    Quisque posuere maximus dui sit amet tincidunt. Integer blandit augue vel nunc tempor posuere. Nam eget purus eu est sollicitudin suscipit. Nulla porta justo et faucibus varius. Phasellus ullamcorper mi quis purus imperdiet rhoncus. Pellentesque in mollis arcu, id efficitur turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer pretium neque elit. Praesent lobortis tincidunt finibus. Sed maximus nec orci a vestibulum. Maecenas ut elit hendrerit, ultrices nibh vel, consectetur risus. Nullam tincidunt libero quis diam luctus laoreet. Etiam tristique tellus fermentum viverra auctor. Ut consequat purus ac enim viverra ultricies. Curabitur ut odio ac nisi molestie finibus. Nullam at ultricies tellus.
</p>
<p>
    Nam ligula erat, porttitor vel venenatis at, laoreet commodo velit. Praesent ut ipsum sed nibh auctor bibendum sit amet sed lorem. Aliquam condimentum lacinia est ut porttitor. Proin interdum, ante vitae dapibus molestie, felis ex gravida tellus, dapibus bibendum diam sem vel augue. In hac habitasse platea dictumst. In semper, tortor pulvinar efficitur fringilla, tellus orci sollicitudin nisi, faucibus gravida nisi risus et lectus. Praesent a ipsum posuere, pellentesque mauris vel, finibus elit.
</p>
<p>
    Nunc at orci ligula. Ut vitae felis ac nulla venenatis imperdiet. Integer ac sodales ante. Pellentesque consequat condimentum dolor et efficitur. Duis placerat, magna sollicitudin lobortis eleifend, purus orci fringilla lectus, in tincidunt urna nibh rhoncus nibh. Integer vel purus libero. Proin eget diam eu est cursus luctus. Etiam pellentesque ipsum felis, vulputate commodo magna elementum eu.
</p>

<h2>Nic nie trwa wiecznie</h2>
<p>
    "Nic nie trwa wiecznie", jak to zwykli jesteśmy mawiać, gdy coś dobrego się kończy.
    Tak też było z nami, gdy musieliśmy pożegnać Jolantę, naszą wspaniałą wokalistkę. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus hendrerit urna. Aenean ut molestie purus. In sollicitudin fermentum purus, luctus blandit nisi dapibus finibus. Donec suscipit, enim a blandit molestie, ipsum quam fermentum augue, non mollis libero leo vel turpis. Curabitur congue sodales felis, et porttitor est hendrerit nec. Mauris eu finibus velit. Donec vel lorem et dolor mattis dignissim pretium non lacus. Aenean porta ante vitae massa consequat faucibus. Suspendisse potenti. Cras sed feugiat sapien. Aliquam sit amet augue justo. Cras nisl nibh, volutpat eu turpis vel, mollis cursus est. Duis condimentum mauris nec mauris condimentum, sed molestie felis tincidunt. Nulla molestie neque at neque placerat, nec hendrerit nunc euismod.
</p>

<h2>Ready to rock!</h2>
<p>
    Po naszej pierwszej trasie koncertowej zbieramy się do nastęnej.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus hendrerit urna. Aenean ut molestie purus. 
    Stay tuned!
</p>
{% endblock %}