{% extends "layout.html" %}

{% block head_elements %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style/about.css') }}">
{% endblock %}

{% block content %}
  <div>
    <img src="/static/img/band.png" alt="zdjęcie_zespołu" class="band-img" />
  </div>

  <h2>Co my za jedni?</h2>
  <p>
    Jeśli zadajesz sobie pytanie "Co to za jedni?" to trafiłeś na dobrą stronę. 
    Prawdę mówiąc, sami sobie czasem zadajemy dokładnie to pytanie.
    Odpowiedź jest jednak prosta. Jesteśmy grupą znajomych, która w wolnym czasie tworzy muzykę.
  </p>
  
  <h2>Trochę historii</h2>
  <p>
    Początki wszystkich zespołów bywają trudne, jak może niektórzy z Was wiedzą. Poznaliśmy się...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus hendrerit urna. Aenean ut molestie purus. In sollicitudin fermentum purus, luctus blandit nisi dapibus finibus. Donec suscipit, enim a blandit molestie, ipsum quam fermentum augue, non mollis libero leo vel turpis. Curabitur congue sodales felis, et porttitor est hendrerit nec. Mauris eu finibus velit. Donec vel lorem et dolor mattis dignissim pretium non lacus. Aenean porta ante vitae massa consequat faucibus. Suspendisse potenti. Cras sed feugiat sapien. Aliquam sit amet augue justo. Cras nisl nibh, volutpat eu turpis vel, mollis cursus est. Duis condimentum mauris nec mauris condimentum, sed molestie felis tincidunt. Nulla molestie neque at neque placerat, nec hendrerit nunc euismod.
  </p>

  <h2>Nic nie trwa wiecznie</h2>
  <p>
    "Nic nie trwa wiecznie", jak to zwykli jesteśmy mawiać, gdy coś dobrego się kończy.
    Tak też było z nami, gdy musieliśmy pożegnać Jolantę, naszą wspaniałą wokalistkę. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus hendrerit urna. Aenean ut molestie purus. In sollicitudin fermentum purus, luctus blandit nisi dapibus finibus. Donec suscipit, enim a blandit molestie, ipsum quam fermentum augue, non mollis libero leo vel turpis. Curabitur congue sodales felis, et porttitor est hendrerit nec. Mauris eu finibus velit. Donec vel lorem et dolor mattis dignissim pretium non lacus. Aenean porta ante vitae massa consequat faucibus. Suspendisse potenti. Cras sed feugiat sapien. Aliquam sit amet augue justo. Cras nisl nibh, volutpat eu turpis vel, mollis cursus est. Duis condimentum mauris nec mauris condimentum, sed molestie felis tincidunt. Nulla molestie neque at neque placerat, nec hendrerit nunc euismod.
  </p>
  
  <h2>Ready to rock!</h2>
  <p>
    Po naszej pierwszej trasie koncertowej zbieramy się do nastęnej.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus hendrerit urna. Aenean ut molestie purus. 
    Stay tuned!
  </p>
  
{% endblock %}