{% extends "layout.html" %}

{% block head_elements %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
{% endblock %}

{% block content %}
<h1>Dyskografia</h1>
<div>
    {% for album in albums %}
    <div class="card">
        <div class="flex-container-centered">
            <img src={{album.img}} alt="okładka {{album.title}}">
        </div>
        <div class="card-info">
            <h4><b>{{album.title}}</b></h4>
            <p>Rok wydania: {{album.year_published}}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}