{% extends "layout.html" %}

{% block head_elements %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
{% endblock %}

{% block content %}
<h1>Poznaj zespół</h1>
<div>
    {% for member in members %}
    <div class="card">
        <div class="flex-container-centered">
            <img src={{member.img}} alt="zdjęcie {{member.first_name}}">
        </div>
        <div class="card-info">
            <h4><b>{{member.first_name}} {{member.last_name}}</b></h4>
            <p>Sprzęt: {{member.instruments}}</p>
            <p>Ciekawostka: "{{member.trivia}}"</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}